@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #B5D997;
  --card-color:  #F7FFF0;

}
#background-card{
  background-color: var(--card-color);
}


body {
  background-color: var(--background-color);
    height: 100vh;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color:#191A19;
    --card-color:#1E5128;

  }

}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
